@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<div class="col-md-12 able-h2">
    What Does Able Strategies AbleCheckbook Look Like?
</div>

<div class="col-md-12">
    <br />
    <img src="~/images/screencapTypical.png" />
</div>

<div class="col-md-12 able-h2">
    <br />
    Can I See a Typical Able Strategies AbleCheckbook Report?
</div>

<div class="col-md-12 able-h4">
    <img src="~/images/categoryReport.png" />
    <p />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;...and so forth...
</div><br />

<div class="col-md-12 able-h2">
    Does it have the ability to search on different fields and by substrings?
</div>

<div class="col-md-12">
    <br />
    <img src="~/images/searchForm.png" />
</div>

<div class="col-md-12 able-h2">
    <br />
    Can it schedule reminders and automatic entries monthly, annually, weekly, bi-weekly, and by monthly occurrence?
</div>

<div class="col-md-12">
    <br />
    <img src="~/images/scheduledEvent.png" />
</div>

<div class="col-md-12 able-h2">
    &nbsp;<br />
    Have Questions Before Trying Able Strategies AbleCheckbook?
</div>

<div class="col-md-12 able-h3">
    <a asp-page="/Support">Click <strong>HERE</strong> to get answers to questions about Able Strategies AbleCheckbook</a>
</div>

<div class="col-md-12 able-h2">
    Download the Free Evaluation Edition of Able Strategies AbleCheckbook
</div>

<div class="col-md-12 able-h3">
    <a asp-page="/Download">Click <strong>HERE</strong> to download and install Able Strategies AbleCheckbook</a>
</div>

<div class="testimonial">
    &quot;I can't believe how helpful the TIPS assistant is when reconciling!&quot;
</div>
