@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<div class="col-md-12" style="color:navy">
    <h3>
        What Does Able Strategies AbleCheckbook Look Like?
    </h3>
</div><p />

<div class="col-md-12">
    <br />
    <img src="~/images/screencapTypical.jpg" />
</div><br />

<div class="col-md-12" style="color:navy">
    <h3>
        Have Questions Before Trying Able Strategies AbleCheckbook?
    </h3>
</div><p />

<div class="col-md-12">
    <br />
    <a asp-page="/Download">Click <strong>HERE</strong> to answer questions about Able Strategies AbleCheckbook</a>
</div><br />

<div class="col-md-12" style="color:navy">
    <h3>
        Download the Free Evaluation Edition of Able Strategies AbleCheckbook
    </h3>
</div><p />

<div class="col-md-12">
    <br />
    <a asp-page="/Download">Click <strong>HERE</strong> to download and install Able Strategies AbleCheckbook</a>
</div><br />

<div class="col-md-12" style="color:navy">
    <h3>
        Can I See a Typical Able Strategies AbleCheckbook Report?
    </h3>
</div><p />

<div class="col-md-12">
    <br />
    <img src="~/images/categoryReport.jpg" />
    <p /><h4>...and so forth...</h4>
</div><br />
