@page
@model AbleStrategiesWebsite.Pages.BuyModel
@{
    ViewData["Title"] = "Buy";
}
<h2>@ViewData["Title"]</h2>
<div class="col-md-12 able-h2">
    @Model.Message
</div>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Buy</title>
    <link rel="stylesheet" href="~/css/ablestrategies.css" />
</head>
<body>
    <div class="row">
        <div class="col-md-12 grid-title">
            Compare Editions
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 grid-col1heading">
            Edition Features<p />What's Included?
        </div>
        <div class="col-md-2 grid-heading">
            Free<p />Evaluation Edition
        </div>
        <div class="col-md-2 grid-heading">
            Basic<p />Standard Edition
        </div>
        <div class="col-md-2 grid-heading">
            Deluxe<p />(coming soon)
        </div>
        <div class="col-md-2 grid-heading">
            ProCPA<p />(coming soon)
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 grid-col1cell">
            Time Limit
        </div>
        <div class="col-md-2 grid-cell">
            90 Days+ (note 1)
        </div>
        <div class="col-md-2 grid-cell">
            Licensed Forever
        </div>
        <div class="col-md-2 grid-cell">
            Licensed per Year
        </div>
        <div class="col-md-2 grid-cell">
            Licensed per Year
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 grid-col1cell">
            Support
        </div>
        <div class="col-md-2 grid-cell">
            Low Priority Email
        </div>
        <div class="col-md-2 grid-cell">
            Medium Priority Email
        </div>
        <div class="col-md-2 grid-cell">
            Next Business Day
        </div>
        <div class="col-md-2 grid-cell">
            Highest Priority SLA
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 grid-col1cell">
            Undo/Redo Levels
        </div>
        <div class="col-md-2 grid-cell">
            Typically About 10
        </div>
        <div class="col-md-2 grid-cell">
            Limited only by Memory
        </div>
        <div class="col-md-2 grid-cell">
            Unlim across Sessions
        </div>
        <div class="col-md-2 grid-cell">
            Unlim across Sessions
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 grid-col1cell">
            Modify Cleared Entries?
        </div>
        <div class="col-md-2 grid-cell">
            No
        </div>
        <div class="col-md-2 grid-cell">
            Yes
        </div>
        <div class="col-md-2 grid-cell">
            Yes, and More
        </div>
        <div class="col-md-2 grid-cell">
            Yes, and More
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 grid-col1cell">
            Online Banking
        </div>
        <div class="col-md-2 grid-cell">
            None
        </div>
        <div class="col-md-2 grid-cell">
            None
        </div>
        <div class="col-md-2 grid-cell">
            Automatic Reconcile
        </div>
        <div class="col-md-2 grid-cell">
            Automatic Reconcile
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 grid-col1cell">
            Number of Accounts
        </div>
        <div class="col-md-2 grid-cell">
            4 Max
        </div>
        <div class="col-md-2 grid-cell">
            4 Max
        </div>
        <div class="col-md-2 grid-cell">
            4 Max
        </div>
        <div class="col-md-2 grid-cell">
            Unlimited
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 grid-col1cell">
            Accounts Open at Once
        </div>
        <div class="col-md-2 grid-cell">
            One at a Time
        </div>
        <div class="col-md-2 grid-cell">
            One at a Time
        </div>
        <div class="col-md-2 grid-cell">
            One at a Time
        </div>
        <div class="col-md-2 grid-cell">
            Any Number at Once
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 grid-col1cell">
            Taxation Reporting
        </div>
        <div class="col-md-2 grid-cell">
            No
        </div>
        <div class="col-md-2 grid-cell">
            No
        </div>
        <div class="col-md-2 grid-cell">
            No
        </div>
        <div class="col-md-2 grid-cell">
            Yes
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 grid-col1cell">
            Discount on Future Purchases
        </div>
        <div class="col-md-2 grid-cell">
            None
        </div>
        <div class="col-md-2 grid-cell">
            $25 Off
        </div>
        <div class="col-md-2 grid-cell">
            N.A.
        </div>
        <div class="col-md-2 grid-cell">
            N.A.
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 grid-col1cell">
            Price (US Dollars):
        </div>
        <div class="col-md-2 grid-cell">
            Free
        </div>
        <div class="col-md-2 grid-cell">
            $59
        </div>
        <div class="col-md-2 grid-cell">
            Est $50/yr
        </div>
        <div class="col-md-2 grid-cell">
            Est $85/yr
        </div>
    </div>
    <h5><em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* Note 1: Expires after 90 usage days or 180 days since installation, whichever comes first. Once expired it will notify about expiration and run slower at each usage.</em></h5>

    <div class="col-md-12 able-h2">
        Let's do this...
    </div>

    <div class="col-md-12 able-h3">
        To purchase it, bring up your Free Edition of Able Strategies AbleCheckbook, then just click <strong>Help</strong> then <strong>Activate</strong>.
    </div>

    <div class="col-md-12 able-h2">
        Offline?
    </div>

    <div class="col-md-12 able-h3">
       If it's installed on another computer that has no web access, click <strong>HERE</strong> for instructions to upgrade your Free Edition.
    </div>

</body>
</html>
