@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    <a href="www.ablestrategies.com"><strong>Able Strategies Website</strong></a><br/>
</address>

<address>
    Able Strategies<br />
    3390 Cobb Pkwy, Suite 9999<br />
    Acworth GA, 30101<br />
</address>

<address>
    <strong>Sales:</strong> <a href="mailto:Marketing@example.com">sales@ablestrategies.com</a><br />
    <strong>Info:</strong> <a href="mailto:Support@example.com">info@ablestrategies.com</a><br />
    <strong>Support:</strong> <a href="mailto:Support@example.com">support@ablestrategies.com</a><br />
    <strong>Phone:</strong> <a phone="404-947-4910">+1 (404) 947-4910</a>
</address>
