@page
@model AbleStrategiesWebsite.Pages.OfflineActivationModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OfflineActivation</title>
    <link rel="stylesheet" href="~/css/ablestrategies.css" asp-append-version="true" />
</head>
<body>
    <h3>Nothing here yet.</h3>
</body>
</html>
