@page
@model AbleStrategiesWebsite.Pages.SupportModel
@{
    ViewData["Title"] = "Support";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Support</title>
    <link rel="stylesheet" href="~/css/ablestrategies.css" />
</head>
<body>
    <div class="col-md-12 able-h2">
        AbleCheckbook Help Pages
    </div>

    <div class="col-md-12 able-h3">
        <a asp-page="/Help/HelpIndex">Click <strong>HERE</strong> to browse the AbleCheckbook Help pages...</a>
    </div>

    <div class="col-md-12 able-h2">
        Activate a Computer that is NOT Connected to the Web
    </div>

    <div class="col-md-12 able-h3">
        <a asp-page="/OfflineActivation">Click <strong>HERE</strong> to activate AbleCheckbook on an offline computer...</a>
    </div>

    <div class="col-md-12 able-h2">
        Frequently-Asked Questions
    </div>

    <div class="col-md-12 able-h3">
        What capabilities are missing from the free evaluation edition of AbleCheckbook?
    </div>

    <div class="col-md-12 able-h4">
        It does not allow you to edit entries that have been cleared/locked, to delete adjustments,
        to select transaction &quot;kinds&quot; other than payment or deposit, and will limit the
        number of undo/redo levels, often to about ten steps or so. Moreover after 90 days it will
        get a bit slower each time you use it. If you decide to purchase a licensed version then
        you do not need to reinstall but merely buy the upgrade then activate it.
    </div>

    <div class="col-md-12 able-h3">
        Can AbleCheckbook handle my needs for scheduling and reminders?
    </div>
    <div class="col-md-12 able-h4">
        It can schedule payments by day-of-the-month or last-day-of-each-month such as most bills,
        day-of-the-week for weekly payments, bi-weekly as is often the case for payroll checks,
        month-and-day for yearly bills, and even Nth-occurrence-of-a-specific-weekday each month
        such as Social Security check dates. You can tell it how many days in advance it should
        enter these into your checkbook. Each will be shown in chartreuse until you confirm it.
    </div>

    <div class="col-md-12 able-h3">
        What's so different about the way AbleCheckbook handles reconciling?
    </div>
    <div class="col-md-12 able-h4">
        It has several unique capabilities. First of all, it has a software agent that provides
        you with tips such as: "Checks 1274, 1278, and 1285 add up to the disparity" or "You may
        have transposed the last 2 digits on the $32.79 payement to Costco." Secondly, reconcile
        is a mode, not an operation, so you can add new entries, make modificatons, and do other
        things while you're in the middle of reconciling. You can even exit the system right
        in the middle and bring it up an a later date to continue reconciling. Lastly, you can
        undo/redo individual steps during a reconcile. For instance, you can undo the last check
        that you clicked as &quot;cleared&quot; or even undo the balance adjustment after you
        have finished.
    </div>

    <div class="col-md-12 able-h3">
        Why do I have to wait, generally until the next business day, for a response to a
        support question?
    </div>
    <div class="col-md-12 able-h4">
        Able Strategies is a small company that makes only this one product. We try to keep
        costs down so we can pass that onto you. Moreover, since you can continue to use the
        product even if you don't yet have a license, there is generally no need for an
        instant response. We hope this is not a hardship for you.
    </div>

    <div class="col-md-12 able-h3">
        Does AbleCheckbook connect live to my bank or have a mobile app?
    </div>
    <div class="col-md-12 able-h4">
        Sorry, not yet. But we are working on it. And you can be sure that we will do it
        better than anyone else.
    </div>

    <div class="col-md-12 able-h3">
        What makes AbleCheckbook easy to learn and use?
    </div>
    <div class="col-md-12 able-h4">
        It has color-coded entries, where red amounts mean payment/debit and green amounts
        are income/credit. Archived entries have a grey background whereas future entries
        have a pink background. It highlights recent changes in blue. It often prompts you
        to select a category, to confirm an entry, to perform a year-end wrap-up, or whatever.
        It never confuses you with signs, minus and plus, and always handles that for you.
        It makes clever and consistent use of the keyboard so that you touch-typists don't
        need to keep reaching for the mouse. It allows you to adjust the row and column
        widths and to rearrange the columns or sort the rows to suit your needs. You can do
        manual or auto reconcile, or even a blend of the two, because it merges bank entries
        with manual entries using fuzzy logic. And on and on and on...
    </div>

    <div class="col-md-12 able-h3">
        Can you summarize the EULA in lay terms - the End-User License Agreement?
    </div>
    <div class="col-md-12 able-h4">
        According to the lawyers, no, you have to pore through the morass of legalese
        without falling asleep. But we can summarize our intent, although the EULA may
        change over time or be more scrutinizing than indicated here. We want you to
        know that software can make mistakes so you have to use some common sense. Look
        at the amounts, the balance, and the other values, making sure that they are
        not wildly off kilter. Yes, just like the weasel words in most software licenses,
        the software is intended to assist you, not replace you. But we do our best to
        ensure that you are not disappointed. And you are free to use the Evaluation
        Edition as long as you like for your banking, paying us nothing if you don't
        mind the limitations, just as long as you don't defeat (or even try to foil)
        those limitations or thwart the activation security. Sure, there's lots more in
        the EULA, but it's pretty standard, if you're familiar with software licenses.
    </div>

    <div class="col-md-12 able-h3">
        I'm interested in finding out if AbleCheckbook can do X - some special capability that I need!
    </div>
    <div class="col-md-12 able-h4">
        Download the Evaluation Edition and install it. Give it a test drive. Export your data from
        your current checkbook program via QIF and import it into AbleCheckbook. Use it for your
        day-to-day business. After 90 days, if you don't like it (highly doubtful), port the data
        back to your old program. Or keep using the Evaluation Edition, although it will get slower
        with time. Or better yet, shell out a few dollars and let us enjoy the fruits of our labor.
    </div>

    <div class="col-md-12 able-h2">
        Email, Mail, and Phone Support
    </div>

    <div class="col-md-12 able-h3">
        <a asp-page="/Contact">Click <strong>HERE</strong> for AbleStrategies Contact Info...</a>
    </div>

    <div class="testimonial">
        &quot;It seems like, whenever I have a question, Able Checkbook anticipates me with a prompt for what to do next.&quot;
    </div>

</body>
</html>
