@page
@model AbleStrategiesWebsite.Pages.Help.ActivateModel
@{
    Layout = "Help/_Layout";
    ViewData["Title"] = "Activate";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Able Strategies AbleCheckbook Chapter: Activate</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/ablestrategies.css" />
</head>
<body class="ablestrategies-helpchapter">
    <h2><span class="glyphicon glyphicon-book"></span>&nbsp;@ViewData["Title"]</h2>
    Nothing Here Yet
</body>
</html>
