@page
@model AbleStrategiesWebsite.Pages.Help.EntriesModel
@{
    Layout = "Help/_Layout";
    ViewData["Title"] = "Checkbook Entries";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Able Strategies AbleCheckbook Chapter: Entries</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/ablestrategies.css" />
</head>
<body class="ablestrategies-helpchapter">
    <h2><span class="glyphicon glyphicon-book"></span>&nbsp;@ViewData["Title"]</h2>
    <div class="container">
        Nothing Here Yet


        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-4 text-left">
                <a asp-page="/Help/Register">
                    <button type="button" class="btn-primary">Prev Page&nbsp;&nbsp;<span class="glyphicon glyphicon-hand-left"></span>&nbsp;&nbsp;Register Area</button>
                </a>
            </div>
            <div class="col-md-5 text-right">
                <a asp-page="/Help/Reconcile">
                    <button type="button" class="btn-primary">Next Page&nbsp;&nbsp;<span class="glyphicon glyphicon-hand-right"></span>&nbsp;&nbsp;Reconcile</button>
                </a>
            </div>
            <div class="col-md-2"></div>
        </div>

    </div>
</body>
</html>

