@page
@model AbleStrategiesWebsite.Pages.Help.EULAModel
@{
    Layout = "Help/_Layout";
    ViewData["Title"] = "EULA";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Able Strategies AbleCheckbook Chapter: EULA</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/ablestrategies.css" />
</head>
<body class="ablestrategies-helpchapter">
    <h2><span class="glyphicon glyphicon-book"></span>&nbsp;@ViewData["Title"]</h2>
    <div class="container">

        <div class="row able-h2">
            Under Construction
        </div>
        <div class="row able-h3">
            The AbleCheckbook ...
        </div>
        <div class="row img-responsive">
            <img class="img-responsive" src="~/images/fig-bg-colors.png" />
        </div><br />
        <div class="row able-h3">
            TBD
        </div>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-4 text-left">
                <a asp-page="/Help/Activate">
                    <button type="button" class="btn-primary">Prev Page&nbsp;&nbsp;<span class="glyphicon glyphicon-hand-left"></span>&nbsp;&nbsp;Activation</button>
                </a>
            </div>
            <div class="col-md-5 text-right">
                <a asp-page="/Help/HelpIndex">
                    <button type="button" class="btn-primary">Next Page&nbsp;&nbsp;<span class="glyphicon glyphicon-hand-right"></span>&nbsp;&nbsp;Help Contents</button>
                </a>
            </div>
            <div class="col-md-2"></div>
        </div>

    </div>
</body>
</html>

