@page
@model AbleStrategiesWebsite.Pages.HelpIndexModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Able Strategies AbleCheckbook Help Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/ablestrategies.css"/>
</head>
<body>
    <div class="row">
        <div class="col-md-1">
            &nbsp;
        </div>
        <div class="col-md-9">
            <img src="~/images/logo-en-US.png" class="center-block top" /><br />
        </div>
        <div class="col-md-2">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            &nbsp;
        </div>
        <div class="col-md-7 ablestrategies-tochead">
            <span><span class="glyphicon glyphicon-book"></span>&nbsp;AbleCheckbook Help Chapters</span>
        </div>
        <div class="col-md-3">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 ablestrategies-tocleftbanner">
            <span style="width:100%;height:100%">
                &nbsp;<p />Table of Contents
            </span>
        </div>
        <div class="col-md-3">
            <ul class="list-group ablestrategies-tocbullets">
                <li class="list-group-item ablestrategies-tocentry"><span class="glyphicon glyphicon-book"></span>&nbsp;<a href="/Help/Intro" class="ablestrategies-helpbutton">Introduction</a></li>
                <li class="list-group-item ablestrategies-tocentry"><span class="glyphicon glyphicon-book"></span>&nbsp;<a href="/Help/Install" class="ablestrategies-helpbutton">Installation</a></li>
                <li class="list-group-item ablestrategies-tocentry"><span class="glyphicon glyphicon-book"></span>&nbsp;<a href="/Help/Register" class="ablestrategies-helpbutton">Register View</a></li>
                <li class="list-group-item ablestrategies-tocentry"><span class="glyphicon glyphicon-book"></span>&nbsp;<a href="/Help/Entries" class="ablestrategies-helpbutton">Checkbook Entries</a></li>
                <li class="list-group-item ablestrategies-tocentry"><span class="glyphicon glyphicon-book"></span>&nbsp;<a href="/Help/Reconcile" class="ablestrategies-helpbutton">Reconciling</a></li>
                <li class="list-group-item ablestrategies-tocentry"><span class="glyphicon glyphicon-book"></span>&nbsp;<a href="/Help/YearEnd" class="ablestrategies-helpbutton">Year-End Wrap-Up</a></li>
                <li class="list-group-item ablestrategies-tocentry"><span class="glyphicon glyphicon-book"></span>&nbsp;<a href="/Help/Backups" class="ablestrategies-helpbutton">Backups</a></li>
                <li class="list-group-item ablestrategies-tocentry"><span class="glyphicon glyphicon-book"></span>&nbsp;<a href="/Help/Reports" class="ablestrategies-helpbutton">Reports</a></li>
                <li class="list-group-item ablestrategies-tocentry"><span class="glyphicon glyphicon-book"></span>&nbsp;<a href="/Help/Search" class="ablestrategies-helpbutton">Searching Entries</a></li>
                <li class="list-group-item ablestrategies-tocentry"><span class="glyphicon glyphicon-book"></span>&nbsp;<a href="/Help/Undo" class="ablestrategies-helpbutton">Undo and Redo</a></li>
                <li class="list-group-item ablestrategies-tocentry"><span class="glyphicon glyphicon-book"></span>&nbsp;<a href="/Help/Scheduled" class="ablestrategies-helpbutton">Scheduled Events</a></li>
                <li class="list-group-item ablestrategies-tocentry"><span class="glyphicon glyphicon-book"></span>&nbsp;<a href="/Help/Import" class="ablestrategies-helpbutton">Import and Export</a></li>
                <li class="list-group-item ablestrategies-tocentry"><span class="glyphicon glyphicon-book"></span>&nbsp;<a href="/Help/Housekeep" class="ablestrategies-helpbutton">Housekeeping</a></li>
                <li class="list-group-item ablestrategies-tocentry"><span class="glyphicon glyphicon-book"></span>&nbsp;<a href="/Help/Preferences" class="ablestrategies-helpbutton">Preferences</a></li>
                <li class="list-group-item ablestrategies-tocentry"><span class="glyphicon glyphicon-book"></span>&nbsp;<a href="/Help/Activate" class="ablestrategies-helpbutton">Activation</a></li>
                <li class="list-group-item ablestrategies-tocentry"><span class="glyphicon glyphicon-book"></span>&nbsp;<a href="/Help/EULA" class="ablestrategies-helpbutton">EULA - Please Read</a></li>
            </ul>
        </div>
        <div class="col-md-7">
            <ul class="list-group ablestrategies-tocbullets">
                <li class="list-group-item ablestrategies-toccomment"><span class="glyphicon glyphicon-hand-left"></span>&nbsp;Screen Layout and Terminology</li>
                <li class="list-group-item ablestrategies-toccomment"><span class="glyphicon glyphicon-hand-left"></span>&nbsp;Setting Up AbleCheckbook</li>
                <li class="list-group-item ablestrategies-toccomment"><span class="glyphicon glyphicon-hand-left"></span>&nbsp;Sorting, Columns, Rows, Colors</li>
                <li class="list-group-item ablestrategies-toccomment"><span class="glyphicon glyphicon-hand-left"></span>&nbsp;New, Modify, Delete, Checkbook Fields</li>
                <li class="list-group-item ablestrategies-toccomment"><span class="glyphicon glyphicon-hand-left"></span>&nbsp;Statement Close, Check-off, Adjustment</li>
                <li class="list-group-item ablestrategies-toccomment"><span class="glyphicon glyphicon-hand-left"></span>&nbsp;Subdividing an Account by Year</li>
                <li class="list-group-item ablestrategies-toccomment"><span class="glyphicon glyphicon-hand-left"></span>&nbsp;Backing Up and Restoring</li>
                <li class="list-group-item ablestrategies-toccomment"><span class="glyphicon glyphicon-hand-left"></span>&nbsp;Charts, Lists, and Printing</li>
                <li class="list-group-item ablestrategies-toccomment"><span class="glyphicon glyphicon-hand-left"></span>&nbsp;Find Payee or Memo Substring, etc.</li>
                <li class="list-group-item ablestrategies-toccomment"><span class="glyphicon glyphicon-hand-left"></span>&nbsp;Made a Mistake? Go Backward in Time</li>
                <li class="list-group-item ablestrategies-toccomment"><span class="glyphicon glyphicon-hand-left"></span>&nbsp;Automatic Transactions and Reminders</li>
                <li class="list-group-item ablestrategies-toccomment"><span class="glyphicon glyphicon-hand-left"></span>&nbsp;QIF and CSV Files</li>
                <li class="list-group-item ablestrategies-toccomment"><span class="glyphicon glyphicon-hand-left"></span>&nbsp;Rename Payee, and so forth</li>
                <li class="list-group-item ablestrategies-toccomment"><span class="glyphicon glyphicon-hand-left"></span>&nbsp;Settings and Customization</li>
                <li class="list-group-item ablestrategies-toccomment"><span class="glyphicon glyphicon-hand-left"></span>&nbsp;Online or Offline Upgrade</li>
                <li class="list-group-item ablestrategies-toccomment"><span class="glyphicon glyphicon-hand-left"></span>&nbsp;End User License Agreement</li>
            </ul>
        </div>
    </div>
</body>
</html>
